.daterange,.daterange * {
	--cell-unit: 20px;
}

.daterange {
	padding: calc(0.5*var(--cell-unit));
	max-width: calc(18*var(--cell-unit))
}



.daterange .bs-daterange-wrapper {
	display: flex;
	flex-direction: column;
}

.daterange .bs-daterange-calendar {
	font-size: 0.75rem;
	line-height: 2.5em;
	width: 100%;
}

.daterange .bs-daterange-selector {
	justify-content: flex-start;
	margin-bottom: var(--cell-unit);
	/*padding-left: var(--cell-unit);*/
}

.daterange .bs-daterange-control {

}

.daterange .bs-daterange-control.bs-daterange-prev {

}

.daterange .bs-daterange-control.bs-daterange-next {

}

.daterange .bs-daterange-control .btn.bs-daterange-year {

}

.daterange .bs-daterange-control .btn.bs-daterange-month {

}

.daterange .input-group {
	border: none;
}

.daterange .input-group input,.daterange .input-group .input-group-text {
	background-color: transparent;
	border: none;
	justify-content: center;
	text-align: center;
	padding: 0px;
}

.daterange table.bs-daterange-calendar-table {

}
.daterange table.bs-daterange-calendar-table td,
.daterange table.bs-daterange-calendar-table th {
	text-align: center;
	vertical-align: center;
	align-items: center;
	padding: calc(0.1*var(--cell-unit));
	width: calc(2*var(--cell-unit));
	height: calc(2*var(--cell-unit));
	overflow: overlay;
	text-transform: capitalize;
	cursor: pointer;
}

.daterange table.bs-daterange-calendar-table .focused {
	border: 2px solid var(--primary);
}

.daterange table.bs-daterange-calendar-table .selected {
	background-color: var(--primary);
	color: #fff;
}

.daterange table.bs-daterange-calendar-table .in-range,
.daterange table.bs-daterange-calendar-table .period-from,
.daterange table.bs-daterange-calendar-table .period-till {
	color: var(--light);
	background-color: var(--dark);
}
.daterange table.bs-daterange-calendar-table .period-from {
	border-radius: var(--cell-unit) 0px 0px var(--cell-unit);
	font-weight: bolder;
	color: var(--white);
}
.daterange table.bs-daterange-calendar-table .period-till {
	border-radius: 0px var(--cell-unit) var(--cell-unit) 0px;
	font-weight: bolder;
	color: var(--white);
}

.daterange table.bs-daterange-calendar-table td.disabled {
	color: var(--gray-dark);
	background-color: var(--gray);
}

.daterange table.bs-daterange-calendar-table td:not(.bs-daterange-the-month) {
	opacity: 0.5;
}

.daterange .bs-daterange-selector input.bs-daterange-period {
	font-weight: inherit;
	font-size: 0.75rem;
	padding: 0.5rem;
	border-color: var(--secondary);
}

.daterange .bs-daterange-selector input.bs-daterange-period:focus,
.daterange .bs-daterange-selector input.bs-daterange-period.focused {
	font-weight: 700;
	color: var(--primary);
	background-color: var(--white);
}

.daterange .bs-daterange-selector .bs-daterange-presets {
}
.daterange .bs-daterange-selector .bs-daterange-presets .list-group-item {
	padding: .5rem;
}
.daterange .bs-daterange-selector .bs-daterange-presets h5 {
	color: var(--dark);
	font-size: 1.0rem;
	margin: 0;
}

.daterange .bs-daterange-selector .bs-daterange-presets small {
	color: var(--secondary);
	font-size: 0.5rem;
	margin: 0;
}


.daterange *::-webkit-scrollbar {
	width: 2px;
}
.daterange *::-webkit-scrollbar-track {
	/*color: var(--primary);*/
	background-color: var(--light);
}
.daterange *::-webkit-scrollbar-thumb {
	background-color: var(--dark);
}